<div class="page-header">
  <h1> <%= @medication.name %></h1>
</div>

<div class="page-header">
  <h2>Prescriptions</h2>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Dosage / Schedule</th>
      <th>Dates</th>
      <th>Prescribed By</th>
    </tr>
  </thead>
  <tbody>
    <% @prescriptions.each do |p| %>
      <tr>
        <td><%= link_to "#{p.patient.first_name} #{p.patient.last_name}", patient_path(p) %></td>
        <td> <%= p.dosage %> <%= p.schedule %></td>
        <td> <%= p.starts %> <%= p.ends %></td>
      </tr>
    <% end %>
  </tbody>
</table>
